@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-primary: #fa6819;
  --color-secondary: #306bd9;
  --color-text-primary: #222222;
  --color-text-secondary: #306bd9;
  --color-text-tertiary: #595959;
  --color-text-inverse: #ffffff;
  --color-surface-base: #ffffff;
  --color-surface-muted: #f4f4f4;
  --color-surface-raised: #fa6819;
  --color-border-strong: #595959;

  --radius-pill: 9999px;

  --animate-instant: instant 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@layer base {
  html {
    font-family: var(--font-inter), sans-serif;
  }

  body {
    @apply text-text-primary bg-surface-muted antialiased;
  }
}

@keyframes instant {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}